@using OMS.UI.Areas.Settings.ViewModels
@model ProjectVM
<div class="row">
	<div class="col-12 col-lg-10 mx-auto">
		<div class="card">
			<div class="card-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbProjectSettings" role="tab">Attendance Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbProjSettingsStatus" role="tab">Employee Shifts Settings</a>
					</li>
				</ul>
			</div><!--end card-body-->
			<div class="card-body pt-0">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active show" id="tbProjectSettings" role="tabpanel">
						@await Component.InvokeAsync("ProjectSettings", new { projectSettings = Model.ProjectSettingVM })
					</div>

					<div class="tab-pane" id="tbProjSettingsStatus" role="tabpanel">
						@await Component.InvokeAsync("ProjectStatusSettings", new { projectStatusSettings = Model.ProjectStatusVM })
					</div>

					<div class="tab-pane" id="tbProjCategory" role="tabpanel">
						@await Component.InvokeAsync("ProjectCategory", new { projectCategories = Model.ProjectCategoryVM })
					</div>
				</div>
			</div><!--end card-body-->
		</div><!--end card-->

	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		 $(window).on('load', function() {
		 $('.modal').modal({backdrop: 'static', keyboard: false});
		});
	</script>

	<script>
		// Select the checkbox and the textbox container
		const checkbox = document.getElementById("InlineCheckbox");
		const textboxContainer = document.getElementById("ti");

		// Add event listener for checkbox
		checkbox.addEventListener("change", () => {
		  if (checkbox.checked) {
			// Show the textbox container when checkbox is checked
			textboxContainer.style.display = "block";
		  } else {
			// Hide the textbox container when checkbox is unchecked
			textboxContainer.style.display = "none";
		  }
		});
	</script>

}