@using OMS.UI.Areas.Settings.ViewModels
@model FinancePrefixSettingVM

<div class="modal fade" id="mdlProjectStatusShow" style="">
	<div class="modal-dialog" id="PlaceHolderHere">
	</div>
</div>

<div class="card">
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col">
				<h4 class="card-title">Prefix Index</h4>
			</div><!--end col-->
		</div>  <!--end row-->
	</div><!--end card-header-->

	<div class="row col-lg-12 mt-2 ms-1">
		<div class="col-lg-3">
			<div class="text-center">
				<h4 class="text-muted">Invoice</h4>
			</div>
			<div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
				<div class="card-body">
					<div class="row mt-2">
						<span>Invoice Prefix<span class="f-14 ms-1 text-danger">*</span></span>
					</div>
					<div class="row mt-2">
						<input value="INV" type="text" placeholder="Enter Invoice Prefix" class="form-control" name="invoiceNoPrefix" id="txtInvoiceNoPrefix" />
					</div>
					<div class="row mt-4">
						Invoice Number Separator
					</div>
					<div class="row mt-2">
						<input value="#" type="text" placeholder="Invoice Number Seperator" class="form-control" name="invoiceNoNoSeperator" id="txtInvoiceNoNoSeperator" />
					</div>
					<div class="row mt-4">
						Invoice Number Digits
					</div>
					<div class="row mt-2">
						<input value="2" type="number" placeholder="Invoice Number Digits" class="form-control" name="invoiceNoNoDigits" id="txtInvoiceNoNoDigits" />
					</div>
					<div class="row mt-4">
						Invoice Number Example
					</div>
					<div class="row mt-2">
						<input value="INV#01" type="text" placeholder="" class="form-control font-spacing-bold" name="invoiceNoNoExample" id="txtInvoiceNoNoExample" disabled="disabled" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="text-center">
				<h4 class="text-muted">Credit Note</h4>
			</div>
			<div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
				<div class="card-body">
					<div class="row mt-2">
						<span>Credit Note Prefix<span class="f-14 ms-1 text-danger">*</span></span>
					</div>
					<div class="row mt-2">
						<input value="CRD" type="text" placeholder="Enter Credit Note Prefix" class="form-control" name="creditNotePrefix" id="txtCreditNotePrefix" />
					</div>
					<div class="row mt-4">
						Credit Note Number Separator
					</div>
					<div class="row mt-2">
						<input value="#" type="text" placeholder="Credit Note Number Separator" class="form-control" name="creditNoteNoSeperator" id="txtCreditNoteNoSeperator" />
					</div>
					<div class="row mt-4">
						Credit Note Digits
					</div>
					<div class="row mt-2">
						<input value="2" type="number" placeholder="Credit Note Digits" class="form-control" name="creditNoteNoDigits" id="txtCreditNoteNoDigits" />
					</div>
					<div class="row mt-4">
						Credit Note Number Example
					</div>
					<div class="row mt-2">
						<input value="CRD#01" type="text" placeholder="" class="form-control font-spacing-bold" name="creditNoteNoExample" id="txtCreditNoteNoExample" disabled="disabled" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="text-center">
				<h4 class="text-muted">Estimation</h4>
			</div>
			<div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
				<div class="card-body">
					<div class="row mt-2">
						<span>Estimation Prefix<span class="f-14 ms-1 text-danger">*</span></span>
					</div>
					<div class="row mt-2">
						<input value="EST" type="text" placeholder="Estimate Prefix" class="form-control" name="estimatePrefix" id="txtEstimatePrefix" />
					</div>
					<div class="row mt-4">
						Estimation Number Separator
					</div>
					<div class="row mt-2">
						<input value="#" type="text" placeholder="Estimate Number Separator" class="form-control" name="estimateNoSeperator" id="txtEstimateNoSeperator" />
					</div>
					<div class="row mt-4">
						Estimation Number Digits
					</div>
					<div class="row mt-2">
						<input value="2" type="number" placeholder="Estimate Number Digits" class="form-control" name="estimateNoDigits" id="txtEstimateNoDigits" />
					</div>
					<div class="row mt-4">
						Estimation Number Example
					</div>
					<div class="row mt-2">
						<input value="EST#01" type="text" placeholder="" class="form-control font-spacing-bold" name="estimateNoExample" id="txtEstimateNoExample" disabled="disabled" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="text-center">
				<h4 class="text-muted">Order</h4>
			</div>
			<div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
				<div class="card-body">
					<div class="row mt-2">
						<span>Order Prefix<span class="f-14 ms-1 text-danger">*</span></span>
					</div>
					<div class="row mt-2">
						<input value="ORD" type="text" placeholder="Order Prefix" class="form-control" name="orderPrefix" id="txtOrderPrefix" />
					</div>
					<div class="row mt-4">
						Order Number Separator
					</div>
					<div class="row mt-2">
						<input value="#" type="text" placeholder="Order Number Separator" class="form-control" name="ordNoSeperator" id="txtOrdNoSeperator" />
					</div>
					<div class="row mt-4">
						Order Number Digits
					</div>
					<div class="row mt-2">
						<input value="2" type="number" placeholder="Order Number Digits" class="form-control" name="ordNoDigits" id="txtOrdNoDigits" />
					</div>
					<div class="row mt-4">
						Order Number Example
					</div>
					<div class="row mt-2">
						<input value="ORD#01" type="text" placeholder="" class="form-control font-spacing-bold" name="ordNoExample" id="txtOrdNoExample" disabled="disabled" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-de-primary mt-2 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>