@model OMS.UI.Areas.Settings.ViewModels.TimesheetSettingVM;

<div class="modal fade" id="mdlDesignationShow">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="">Designation Setup</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-4 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Project <span class="f-14 mr-1 text-danger">*</span>
							</label>
							<select class="form-select mt-2" aria-label="Default select example">
								<option value="" selected>--</option>
								<option value="1">Erp Project</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Task
								<span class="f-14 mr-1 text-danger">*</span>
							</label>
							<select class="form-select mt-2" aria-label="Default select example">
								<option value="" selected>--</option>
								<option value="1">Dashboard</option>
								<option value="2">Payment Credential</option>
								<option value="3">Settings</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Employee
								<span class="f-14 mr-1 text-danger">*</span>
							</label>
							<select class="form-select mt-2" aria-label="Default select example">
								<option value="" selected>--</option>
								<option value="1">Manoj</option>
								<option value="2">Deva</option>
								<option value="3">Ganesh</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Start Date
								<span class="f-14 mr-1 text-danger">*</span>
							</label>

							<input class="form-control mt-2" type="date" value="" id="example-date-input">

						</div>
					</div>
					<div class="col-lg-3 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Start Time
								<span class="f-14 mr-1 text-danger">*</span>
							</label>

							<input class="form-control mt-2" type="time" value="" id="example-time-input">               <!--example-datetime-local-input-->

						</div>
					</div>
					<div class="col-lg-3 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								End Date
								<span class="f-14 mr-1 text-danger">*</span>
							</label>

							<input class="form-control mt-2" type="date" value="" id="example-date-input">

						</div>
					</div>
					<div class="col-lg-3 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								End Time
								<span class="f-14 mr-1 text-danger">*</span>
							</label>

							<input class="form-control mt-2" type="time" value="" id="example-time-input">

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Memo
								<span class="f-14 mr-1 text-danger">*</span>
							</label>
							<input class="form-control mt-2" type="text" value="" placeholder="e.g.Working on new logo" id="example-text-input">
						</div>
					</div>
					<div class="col-lg-6 g-2">
						<div class="mb-3 text-start">
							<label for="example-text-input">
								Total Hours
								<span class="f-14 mr-1 text-danger">*</span>
							</label>
							<input class="form-control mt-2" type="number" value="" id="example-text-input">
						</div>
					</div>
				</div>

			</div><!--end card-body-->
			<div class="modal-footer">
				<div class="row">
					<div class="col-lg-12 text-end">
						<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
						<button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
					</div>
				</div>
			</div><!--end modal-footer-->
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$(window).on('load', function() {
		 $('#mdlDesignationShow').modal({backdrop: 'static', keyboard: false});
		});
	</script>
}




