@using OMS.UI.Areas.Configuration.ViewModels
@model ProjectVM
<div class="row">
	<div class="col-12 col-lg-10 mx-auto">

		<div class="card">
			<div class="card-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbProjectSettings" role="tab">Project Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbProjSettingsStatus" role="tab">Project Status Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbProjCategory" role="tab">Category</a>
					</li>
				</ul>
			</div><!--end card-body-->
			<div class="card-body pt-0">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active show" id="tbProjectSettings" role="tabpanel">
						@await Component.InvokeAsync("ProjectSettings", new { projectSettings = Model.ProjectSettingVM })
					</div>

					<div class="tab-pane" id="tbProjSettingsStatus" role="tabpanel">
						@await Component.InvokeAsync("ProjectStatusSettings", new { projectStatusSettings = Model.ProjectStatusVM })
					</div>

					<div class="tab-pane" id="tbProjCategory" role="tabpanel">
						@await Component.InvokeAsync("ProjectCategory", new { projectCategories = Model.ProjectCategoryVM })
					</div>

					<!--  Modal content for New Project Category -->
					<div class="modal fade bs-NewCategory-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myProjCategeoryModalLabel" aria-hidden="true">
						<div class="modal-dialog ">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myProjCategeoryModalLabel">Project Category Setup</h5>
								</div>
								<div class="modal-body">
									<form>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-label my-2" for="ProjCategoryName">Category Name
														<span class="f-14 mr-1 text-danger">*</span>
													</label>
													<input type="text" class="form-control" id="CategoryName" required="">
												</div>
											</div>

										</div><!--end row-->


									</form>
								</div>
								<div class="modal-footer">

									<div class="row">
										<div class="col-lg-12 text-end">
											<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
											<button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
										</div>
									</div>

								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<!--  Modal content for Edit Project Category -->

					<div class="modal fade" id="Category" tabindex="-1" aria-labelledby="CategoryLabel" aria-hidden="true" style="display: none;">
						<div class="modal-dialog ">
							<div class="modal-content">
								<div class="modal-header">
									<h6 class="modal-title m-0" id="StatusLabel">Edit Project Category Details</h6>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12 g-2">
											<div class="mb-3 text-start">
												<label class="form-label " for="ProjCategoryName">Category Name
													<span class="f-14 mr-1 text-danger">*</span>
												</label>
												<input type="text" class="form-control" id="CategoryName" value="Reseller 1" required="">
											</div>
										</div>
									</div>
								</div><!--end card-body-->

								<div class="modal-footer">
									<div class="row">
										<div class="col-lg-12 text-end">
											<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
											<button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
										</div>
									</div>

								</div><!--end modal-footer-->
							</div><!--end modal-content-->
						</div><!--end modal-dialog-->
					</div><!--end modal-->


				</div>
			</div><!--end card-body-->
		</div><!--end card-->

	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		 $(window).on('load', function() {
		 $('.modal').modal({backdrop: 'static', keyboard: false});
		});
	</script>

	<script>
		// Select the checkbox and the textbox container
		const checkbox = document.getElementById("InlineCheckbox");
		const textboxContainer = document.getElementById("ti");

		// Add event listener for checkbox
		checkbox.addEventListener("change", () => {
		  if (checkbox.checked) {
			// Show the textbox container when checkbox is checked
			textboxContainer.style.display = "block";
		  } else {
			// Hide the textbox container when checkbox is unchecked
			textboxContainer.style.display = "none";
		  }
		});
	</script>

}