@using ConfigurationServices.CQRS.MVC.Areas.Settings.Models
@model LeadStatusVM
<div class="modal fade" id="mdlProductShow">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="">Product Setup</h5>
			</div>
			<div class="modal-body">
				<form action="Create">
					<div class="row">
						<div class="col-lg-12">
							<label asp-for="Status">
								Status
							</label>
							<input id="txtName" type="text" class="form-control" name="Status" placeholder="enter Name" value="">
							<span asp-validation-for="Status" class="text-danger"></span>
						</div>
						<div class="col-lg-12">
							<label asp-for="Color">
								Color
							</label>
							<input type="color" class="form-control form-control-color" id="exampleColorInput" name="Color" value="#0b51b7" title="Choose your color">
							<span asp-validation-for="Color" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-4 text-end ">
						<div class="col-lg-12 ">
							<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
							<button type="button" class="btn btn-sm btn-de-primary" data-save="modal"><i class="mdi mdi-check-all me-2"></i>Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$(window).on('load', function() {
		 $('#mdlProductShow').modal({backdrop: 'static', keyboard: false});
		});
	</script>
}